Interface/WebContent/wsdl/ListingVoucher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://feeCollection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://feeCollection" xmlns:intf="http://feeCollection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://feeCollection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="vouchers">
    <complexType/>
   </element>
   <element name="vouchersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="vouchersReturn" type="impl:VoucherList"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="VoucherList">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="amount" type="xsd:int"/>
     <element name="FeeMonth" nillable="true" type="xsd:string"/>
     <element name="Date" nillable="true" type="xsd:string"/>
     <element name="StudentName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="vouchersRequest">

      <wsdl:part element="impl:vouchers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vouchersResponse">

      <wsdl:part element="impl:vouchersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ListingVoucher">

      <wsdl:operation name="vouchers">

         <wsdl:input message="impl:vouchersRequest" name="vouchersRequest">

       </wsdl:input>

         <wsdl:output message="impl:vouchersResponse" name="vouchersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ListingVoucherSoapBinding" type="impl:ListingVoucher">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="vouchers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vouchersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="vouchersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ListingVoucherService">

      <wsdl:port binding="impl:ListingVoucherSoapBinding" name="ListingVoucher">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/ListingVoucher"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
