Interface/WebContent/wsdl/update.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Teaching" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Teaching" xmlns:intf="http://Teaching" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Teaching" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateTeacher">
    <complexType>
     <sequence>
      <element name="TeacherID" type="xsd:int"/>
      <element name="RegistrationNumber" type="xsd:int"/>
      <element name="Name" type="xsd:string"/>
      <element name="Father" type="xsd:string"/>
      <element name="DateOfBirth" type="xsd:string"/>
      <element name="Phone" type="xsd:string"/>
      <element name="CNIC" type="xsd:string"/>
      <element name="Qualification" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="RegistrationDate" type="xsd:string"/>
      <element name="Status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTeacherResponse">
    <complexType>
     <sequence>
      <element name="updateTeacherReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateTeacherRequest">

      <wsdl:part element="impl:updateTeacher" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTeacherResponse">

      <wsdl:part element="impl:updateTeacherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="update">

      <wsdl:operation name="updateTeacher">

         <wsdl:input message="impl:updateTeacherRequest" name="updateTeacherRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTeacherResponse" name="updateTeacherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="updateSoapBinding" type="impl:update">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateTeacher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTeacherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTeacherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="updateService">

      <wsdl:port binding="impl:updateSoapBinding" name="update">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/update"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
