WebContent/wsdl/Add_Student_Marks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Exam" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Exam" xmlns:intf="http://Exam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Exam" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addstudentmarks">
    <complexType>
     <sequence>
      <element name="ExamID" type="xsd:int"/>
      <element name="StudentID" type="xsd:int"/>
      <element name="TeacherID" type="xsd:int"/>
      <element name="TotalMarks" type="xsd:int"/>
      <element name="ObtainedMarks" type="xsd:int"/>
      <element name="Result" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addstudentmarksResponse">
    <complexType>
     <sequence>
      <element name="addstudentmarksReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addstudentmarksRequest">

      <wsdl:part element="impl:addstudentmarks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addstudentmarksResponse">

      <wsdl:part element="impl:addstudentmarksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Add_Student_Marks">

      <wsdl:operation name="addstudentmarks">

         <wsdl:input message="impl:addstudentmarksRequest" name="addstudentmarksRequest">

       </wsdl:input>

         <wsdl:output message="impl:addstudentmarksResponse" name="addstudentmarksResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Add_Student_MarksSoapBinding" type="impl:Add_Student_Marks">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addstudentmarks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addstudentmarksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addstudentmarksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Add_Student_MarksService">

      <wsdl:port binding="impl:Add_Student_MarksSoapBinding" name="Add_Student_Marks">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/Add_Student_Marks"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
