WebContent/wsdl/Add_Student_Marks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Exam" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Exam" xmlns:intf="http://Exam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Exam" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addstudent">
    <complexType>
     <sequence>
      <element name="AdmissionNumber" type="xsd:int"/>
      <element name="StudentName" type="xsd:string"/>
      <element name="FatherName" type="xsd:string"/>
      <element name="DateOfBirth" type="xsd:string"/>
      <element name="Phone" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="ClassesID" type="xsd:int"/>
      <element name="Status" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addstudentResponse">
    <complexType>
     <sequence>
      <element name="addstudentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addstudentRequest">

      <wsdl:part element="impl:addstudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addstudentResponse">

      <wsdl:part element="impl:addstudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Add_Student_Marks">

      <wsdl:operation name="addstudent">

         <wsdl:input message="impl:addstudentRequest" name="addstudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addstudentResponse" name="addstudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Add_Student_MarksSoapBinding" type="impl:Add_Student_Marks">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addstudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addstudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addstudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Add_Student_MarksService">

      <wsdl:port binding="impl:Add_Student_MarksSoapBinding" name="Add_Student_Marks">

         <wsdlsoap:address location="http://tempuri.org/SchoolManagementSystem/services/Add_Student_Marks"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
