WebContent/wsdl/AddStudents.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Main" xmlns:intf="http://Main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addNewStudent">
    <complexType>
     <sequence>
      <element name="AdmissionNumber" type="xsd:int"/>
      <element name="StudentName" type="xsd:string"/>
      <element name="Father" type="xsd:string"/>
      <element name="DOB" type="xsd:string"/>
      <element name="Phone" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="ClassID" type="xsd:int"/>
      <element name="status" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNewStudentResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addNewStudentRequest">

      <wsdl:part element="impl:addNewStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewStudentResponse">

      <wsdl:part element="impl:addNewStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddStudents">

      <wsdl:operation name="addNewStudent">

         <wsdl:input message="impl:addNewStudentRequest" name="addNewStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNewStudentResponse" name="addNewStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddStudentsSoapBinding" type="impl:AddStudents">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addNewStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNewStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNewStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddStudentsService">

      <wsdl:port binding="impl:AddStudentsSoapBinding" name="AddStudents">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/AddStudents"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
