WebContent/wsdl/addTeachers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Teaching" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Teaching" xmlns:intf="http://Teaching" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Teaching" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addNewTeacher">
    <complexType>
     <sequence>
      <element name="TeacherID" type="xsd:int"/>
      <element name="RegistrationNumber" type="xsd:int"/>
      <element name="Name" type="xsd:string"/>
      <element name="Father" type="xsd:string"/>
      <element name="DateOfBirth" type="xsd:string"/>
      <element name="Phone" type="xsd:string"/>
      <element name="CNIC" type="xsd:string"/>
      <element name="Qualification" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="RegistrationDate" type="xsd:string"/>
      <element name="Status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNewTeacherResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addNewTeacherResponse">

      <wsdl:part element="impl:addNewTeacherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewTeacherRequest">

      <wsdl:part element="impl:addNewTeacher" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="addTeachers">

      <wsdl:operation name="addNewTeacher">

         <wsdl:input message="impl:addNewTeacherRequest" name="addNewTeacherRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNewTeacherResponse" name="addNewTeacherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="addTeachersSoapBinding" type="impl:addTeachers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addNewTeacher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNewTeacherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNewTeacherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="addTeachersService">

      <wsdl:port binding="impl:addTeachersSoapBinding" name="addTeachers">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/addTeachers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
