WebContent/wsdl/DeleteVoucher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://feeCollection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://feeCollection" xmlns:intf="http://feeCollection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://feeCollection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deleteVoucher">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteVoucherResponse">
    <complexType>
     <sequence>
      <element name="deleteVoucherReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteVoucherRequest">

      <wsdl:part element="impl:deleteVoucher" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteVoucherResponse">

      <wsdl:part element="impl:deleteVoucherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DeleteVoucher">

      <wsdl:operation name="deleteVoucher">

         <wsdl:input message="impl:deleteVoucherRequest" name="deleteVoucherRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteVoucherResponse" name="deleteVoucherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeleteVoucherSoapBinding" type="impl:DeleteVoucher">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteVoucher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteVoucherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteVoucherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DeleteVoucherService">

      <wsdl:port binding="impl:DeleteVoucherSoapBinding" name="DeleteVoucher">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSystemNew/services/DeleteVoucher"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
