WebContent/wsdl/Edit_exams.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Exam" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Exam" xmlns:intf="http://Exam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Exam" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="edit_exam">
    <complexType>
     <sequence>
      <element name="ExamID" type="xsd:int"/>
      <element name="Name" type="xsd:string"/>
      <element name="StartDate" type="xsd:string"/>
      <element name="EndDate" type="xsd:string"/>
      <element name="Status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="edit_examResponse">
    <complexType>
     <sequence>
      <element name="edit_examReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="edit_examResponse">

      <wsdl:part element="impl:edit_examResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="edit_examRequest">

      <wsdl:part element="impl:edit_exam" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Edit_exams">

      <wsdl:operation name="edit_exam">

         <wsdl:input message="impl:edit_examRequest" name="edit_examRequest">

       </wsdl:input>

         <wsdl:output message="impl:edit_examResponse" name="edit_examResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Edit_examsSoapBinding" type="impl:Edit_exams">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="edit_exam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="edit_examRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="edit_examResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Edit_examsService">

      <wsdl:port binding="impl:Edit_examsSoapBinding" name="Edit_exams">

         <wsdlsoap:address location="http://tempuri.org/SchoolManagementSystem/services/Edit_exams"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
