WebContent/wsdl/EditStudents.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Main" xmlns:intf="http://Main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="editStudents">
    <complexType>
     <sequence>
      <element name="AdmissionNumber" type="xsd:int"/>
      <element name="StudentName" type="xsd:string"/>
      <element name="Father" type="xsd:string"/>
      <element name="DOB" type="xsd:string"/>
      <element name="Phone" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="ClassID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="editStudentsResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="editStudentsRequest">

      <wsdl:part element="impl:editStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editStudentsResponse">

      <wsdl:part element="impl:editStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EditStudents">

      <wsdl:operation name="editStudents">

         <wsdl:input message="impl:editStudentsRequest" name="editStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:editStudentsResponse" name="editStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EditStudentsSoapBinding" type="impl:EditStudents">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="editStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EditStudentsService">

      <wsdl:port binding="impl:EditStudentsSoapBinding" name="EditStudents">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSy/services/EditStudents"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
