WebContent/wsdl/SearchStudents.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Main" xmlns:intf="http://Main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findStudents">
    <complexType>
     <sequence>
      <element name="AdmissionNumber" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findStudentsResponse">
    <complexType>
     <sequence>
      <element name="findStudentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findStudentsRequest">

      <wsdl:part element="impl:findStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findStudentsResponse">

      <wsdl:part element="impl:findStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SearchStudents">

      <wsdl:operation name="findStudents">

         <wsdl:input message="impl:findStudentsRequest" name="findStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:findStudentsResponse" name="findStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchStudentsSoapBinding" type="impl:SearchStudents">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchStudentsService">

      <wsdl:port binding="impl:SearchStudentsSoapBinding" name="SearchStudents">

         <wsdlsoap:address location="http://localhost:8080/SchoolManagementSy/services/SearchStudents"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
